@model PizzeriaManagementApp.ViewModels.PizzaCreateVM

<form method="post" enctype="multipart/form-data" asp-action="Create">
    <input asp-for="Pizza.Image" hidden value="_" />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-3">Add pizza</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Pizza.Name" class="form-control" />
                        <span asp-validation-for="Pizza.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Pizza.Price" class="form-control" />
                        <span asp-validation-for="Pizza.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.SizeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Pizza.SizeId" asp-items="@Model.Sizes" class="form-control">
                        </select>
                        <span asp-validation-for="Pizza.SizeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.ThicknessId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Pizza.ThicknessId" asp-items="@Model.Thicknesses" class="form-control">
                        </select>
                        <span asp-validation-for="Pizza.ThicknessId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Image"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" accept="image/png, image/gif, image/jpeg" class="form-control" />
                        <span asp-validation-for="Pizza.Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" onclick="return validateInput()" class="btn btn-success w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</form>

@section Scripts 
{
    @{ <partial name="_ValidationScriptsPartial" />}
    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an Image!',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}