@inject SignInManager<IdentityUser> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Account info</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserInfoNavClass(ViewContext)" id="userinfo" asp-page="./UserInfo">User informations change</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AddressInfoNavClass(ViewContext)" id="addressinfo" asp-page="./AddressInfo">Address informations change</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change password</a></li>
</ul>
