@model PizzeriaManagementApp.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-primary filter-button" data-filter="all">
            All
        </button>
        @foreach (string town in Model.Towns)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@town.Replace(' ', '_')">
                @town
            </button>
        }
    </div>
    <br />
    <div class="row">
        @foreach (Pizzeria pizzeria in Model.Pizzerias)
        {
            <partial name="_IndividualPizzeriaCard" model="pizzeria" />
        }
    </div>
</div>

@section Scripts { 
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('3000');
                }
                else {
                    $(".filter").not('.' + value).hide('0');
                    $('.filter').filter('.' + value).show('3000');
                }
            })
        })
    </script>
}