@model PizzeriaManagementApp.Models.Employee

<form method="post">
    <input asp-for="AccessFailedCount" hidden />
    <input asp-for="AddressId" hidden />
    <input asp-for="ConcurrencyStamp" hidden />
    <input asp-for="Email" hidden />
    <input asp-for="EmailConfirmed" hidden />
    <input asp-for="EndDate" hidden />
    <input asp-for="FirstName" hidden />
    <input asp-for="Id" hidden />
    <input asp-for="IdManager" hidden />
    <input asp-for="LastName" hidden />
    <input asp-for="LockoutEnabled" hidden />
    <input asp-for="LockoutEnd" hidden />
    <input asp-for="NormalizedEmail" hidden />
    <input asp-for="NormalizedUserName" hidden />
    <input asp-for="PasswordHash" hidden />
    <input asp-for="PhoneNumber" hidden />
    <input asp-for="PhoneNumberConfirmed" hidden />
    <input asp-for="SecurityStamp" hidden />
    <input asp-for="TwoFactorEnabled" hidden />
    <input asp-for="UserName" hidden />
    <div class="border p-3">
        <div class="form-group row">
            @if (Model.IdManager is null)
            {
                <h2 class="text-info p-3">Edit manager account</h2>
            }
            else
            {
                <h2 class="text-info p-3">Edit employee account</h2>
            }
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Salary"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StartDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-warning w-100" value="Update" />
                        </div>
                        @if (Model.IdManager is null)
                        {
                            <div class="col">
                                <a asp-action="ManagerIndex" class="btn btn-info w-100">
                                    <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <a asp-action="Index" class="btn btn-info w-100">
                                    <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>