@page
@model RegisterManager
@{
    ViewData["Title"] = "Register manager";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row g-3">
            <div class="col-md-12">
                <h4>Create a new manager account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="col-md-6">
                <h5>User informations</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Salary"></label>
                    <input asp-for="Input.Salary" class="form-control" />
                    <span asp-validation-for="Input.Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.StartDate"></label>
                    <input asp-for="Input.StartDate" class="form-control" />
                    <span asp-validation-for="Input.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Address informations</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.Country"></label>
                    <input asp-for="Input.Country" class="form-control" />
                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PostalCode"></label>
                    <input asp-for="Input.PostalCode" class="form-control" />
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Town"></label>
                    <input asp-for="Input.Town" class="form-control" />
                    <span asp-validation-for="Input.Town" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Street"></label>
                    <input asp-for="Input.Street" class="form-control" />
                    <span asp-validation-for="Input.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.HouseNumber"></label>
                    <input asp-for="Input.HouseNumber" class="form-control" />
                    <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ApartmentNumber"></label>
                    <input asp-for="Input.ApartmentNumber" class="form-control" />
                    <span asp-validation-for="Input.ApartmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="w-100 btn-group" role="group">
                    <div class="col">
                        <input type="submit" class="btn btn-success w-100" value="Create" />
                    </div>
                    <div class="col">
                        <a asp-controller="Employee" asp-action="ManagerIndex" class="btn btn-info w-100">
                            <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
